@charset "UTF-8";

  body {
    color: black;
    font-size: 14pt;
    background-image: url(../images/background.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
  }

#container {
    width: 1280px;
    height: auto;
    background-color: #C8ACEF;
    margin: auto;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
}

/*Float the Aside so it displays next to Main*/

aside {
    width: 150px;
    height: 1200px;
    float: left;
    background-color: #672E97;
}

header {
    height: 250px;
    margin-top: 12px;
    background-image: url(../images/headerpurple.png);
    background-repeat: none;
    background-position: center;
    margin: 28.2px 0px 0px 0px;
}
p{
	font-family: "canada-type-gibson", sans-serif;
	font-weight: 400;
	font-style: normal;
	
}
h1 {
    color: #340D59;
    font-family: politica, sans-serif;
    font-weigh: 700;
    font-style: normal;
    font-size: 24pt;	
}



h3 {
    font-size: 12pt;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #C3AEEE;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatLeft {
	float: left;
}

article {
    margin-bottom: 50px;
}

/*Float the Main so it shows up next to the aside. Reduce width bt 150px so they both line yp with the header*/

main {
    width: 1100px;
    height: 1600px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

/*Clear the float so the footer shows up in the right place again*/

footer {
    width: 1280px;
    height: 50px;
    clear: both;
    background-color: #672E97;
    color: #191919;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
nav {
    width: 1280px;
    height: 56px;
    position: fixed;
    top: 0.1px;
    background-color: #C8ACEF;
}
#container nav li {
    display: block;
    list-style-type: none;
    width: 100px;
    float: left;
    margin: 0px 60px 0px 0px;
    font-family: neonoir, sans-serif;
    font-size: 18pt;
}
#container nav ul {
    margin: auto;
    width: 675px;
    color: #0C00FF;
}

nav a:link {
    color: #340D59;
    padding: 10px;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #C30EBE
}

nav a:hover {
    text-decoration: none;
    color: #F3DAFA;
    background-color: #340D59;
    padding: 10px;
    border-radius: 20px;
}

nav a:active {
	text-decoration: none;
		color: #191919;	
}
.submit_btn {
    width: 170px;
    border-radius: 10px;
    height: 30px;
    background-color: #6BE6FF;
    color: #FFFFFF;
    font-size: 16px;

}

.submit_btn:hover {
	-webkit-box-shadow: 6px 6px 35px 1px #000000;
    box-shadow: 6px 6px 35px 5px #000000;
	
}.column {
    width: 250px;
    height: 750px;
    float: left;
    margin-top: 0px;
    margin-left: 60px;
    margin-right: 20px;
}
.cclicense{
	width: 500px;
	height: 20px;
	clear: both;
	padding: 50px 0px 0px 0px;
	
}

video{
    margin: auto;	
}

/* Rules the page will follow for Tablet-sized devices*/

@media (max-width: 1024px){
	#container {
		width: 768px;
	}
	
	header {
		width: 768px;
	}
	nav {
		width: 768px;
	}
	main{
		width: 598px;
		height: 2500px;
	}
	footer{
		width: 768px;
	}
	
	.column {
		margin: 0px 20px 0px 25px;
	}
	
	
}

/*Rules the page will follow on mobile devices*/

@media only screen and (max-width:375px){
		#container {
		width: 300px;
	}
	
	header {
		width: 300px;
		background-image: url("../images/logoheader300px.png");
		background-repeat: no-repeat;
	}
	
	nav {
		width: 300px;
		height: 250px;
		position: static;
		
	}
	
	main{
		width: 300px;

	}
	
	footer{
		width: 300px;
	}
	
	aside{
		display: none;
	}
	
	#container nav li {
		display: list-item;
		list-style-type: none;
		float: none;
		margin: 0px 0px 20px 0px;
		width: 260px;
		text-align: center;
	}
		
	#container nav ul {
	width: 260px;
}

	nav a:link {
	display: block;
	width: 200px;
	background-color: #65EBFB;
	color: white;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
}
}
